GIN_MODE=debug

MACHINE_ID=1
HOST=0.0.0.0
PORT=3000
CRONJOB_MAX_WORKERS=16
CRONJOB_SHARD_ID=1

POSTGRES_SHARD_1_URL=postgres://root:root@localhost:5432/rakhsh?sslmode=disable
POSTGRES_SHARD_2_URL=postgres://root:root@localhost:5432/rakhsh?sslmode=disable
POSTGRES_SHARD_3_URL=postgres://root:root@localhost:5432/rakhsh?sslmode=disable
POSTGRES_MAX_CONNECTIONS=16

RABBITMQ_URL=amqp://root:root@localhost:5672
RABBITMQ_MAX_WORKERS=16

REDIS_URL=localhost:6379
REDIS_PASSWORD=password
REDIS_MAX_CONNECTIONS=16